<h1 mat-dialog-title>Hi {{data.name}}</h1>
<div mat-dialog-content>
  <canvas baseChart [datasets]='selectedDataset' [labels]='barChartLabels' [options]='barChartOptions'
      [legend]='barChartLegend' [chartType]='Type' [colors]='color1'>

  </canvas>
</div>
<div mat-dialog-content>
  <canvas baseChart [datasets]='selectedDataset' [labels]='barChartLabels' [options]='barChartOptions'
      [legend]='barChartLegend' [chartType]='Type2' [colors]='color'>

  </canvas>
</div>
<div mat-dialog-content>
  <canvas baseChart [datasets]='selectedDataset' [labels]='barChartLabels' [options]='barChartOptions'
      [legend]='barChartLegend' [chartType]='Type3'>

  </canvas>
</div>
<div mat-dialog-content>
  <canvas baseChart [datasets]='selectedDataset' [labels]='barChartLabels' [options]='barChartOptions'
      [legend]='barChartLegend' [chartType]='Type4'>

  </canvas>
</div>