.contain1{
    border: 3px solid greenyellow;
    
}

.mycol{
    border: 2px solid black;
    height: 300px;
}

.row1{
    border: 1px solid red;
    
}

.contain2{
    border: 3px solid blue;
    height: 300px;
    
}

.row2{
    border: 1px solid red;
}
    

  